{% extends "ink_n_mustard/full_page.html" %}
{% block title %}{% if g.user_is_admin %}Administration{% else %}Preferences{% endif %} :: {{ g.site_name }}{% endblock %}
{% block page_title %}{% if g.user_is_admin %}Administration{% else %}Preferences{% endif %}{% endblock %}
{% block page_body %}
<section id="password">
    <header>
        <h3>Change password</h3>
    </header>
    {% if password_error %}
    <p class="error">{{ password_error }}</p>
    {% endif %}
    <form action="{{ url_for("change_password", return_to=g.current_url) }}" method="post">
        <p><label for="oldpassword">Old password</label>
        <input type="password" name="oldpassword" /></p>
        <p><label for="newpassword">New password</label>
        <input type="password" name="newpassword" /></p>
        <p><label for="submit"></label>
        <button type="submit" name="submit">Change password</button></p>
    </form>
</section>
{% if g.user_is_admin %}
<section id="posts_pages">
    <header>
        <h3>Posts/pages</h3>
    </header>
    <p>
        <a class="pseudo_button" href="{{ url_for("new_post") }}">New post</a>
        <a class="pseudo_button" href="{{ url_for("new_page") }}">New page</a>
    </p>
    {% if unlisted_pages %}
    <header>
        <strong>Unlisted pages:</strong>
    </header>
    {% for page in unlisted_pages %}
    <p><a href="{{ url_for("show_page", page_slug=page.slug) }}">{{ page.text }}</a> (<a href="{{ url_for("delete_page", page_slug=page.slug) }}">delete</a>)</p>
    {% endfor %}
    {% endif %}
</section>
<section id="sidebar_config">
    <header>
        <h3>Sidebar</h3>
    </header>
    {% if sidebar_error %}
    <p class="error">{{ sidebar_error }}</p>
    {% endif %}
    <form action="{{ url_for("sidebar_new_section", return_to=g.current_url) }}" method="post">
        <p><label for="title">Section title</label>
        <input type="text" name="title" /></p>
        <p><label for="submit"></label>
        <button type="submit" name="submit">New section</button></p>
    </form>
    <form action="{{ url_for("sidebar_new_item", return_to=g.current_url) }}" method="post">
        <p><label for="section">Section</label>
        <select name="section">
            {% for section in g.sidebar_sections %}
            <option value="{{ section.id }}">{{ section.title }}</option>
            {% endfor %}
        </select></p>
        <p><label for="title">Item title</label>
        <input type="text" name="title" /></p>
        <p><label for="url">Item URL</label>
        <input type="text" name="url" /></p>
        <p><label for="submit"></label>
        <button type="submit" name="submit">New item</button></p>
    </form>
</section>
<section id="user_config">
    <header>
        <h3>Users</h3>
    </header>
    {% for username in users %}
    <p><a href="{{ url_for("show_user", username=username) }}">{{ username }}</a> (<a href="{{ url_for("delete_user", username=username) }}">delete</a>)</p>
    {% endfor %}
</section>
{% if g.has_statusnet %}
<section id="statusnet">
    <header>
        <h3>Status.net integration</h3>
    </header>
    <form action="{{ url_for("sn_set_credentials", return_to=g.current_url) }}" method="post">
        <p><label for="sn_api_url">API URL</label>
        <input type="text" name="sn_api_url" {% if preset_sn_api_url %}value="{{ preset_sn_api_url }}" {% endif %}/></p>
        <p><label for="sn_username">Username</label>
        <input type="text" name="sn_username" {% if preset_sn_username %}value="{{ preset_sn_username }}" {% endif %}/></p>
        <p><label for="sn_password">Password</label>
        <input type="password" name="sn_password" {% if preset_sn_password %}value="{{ preset_sn_password }}" {% endif %}/></p>
        <p><label for="submit"></label>
        <button type="submit" name="submit">Set credentials</button></p>
    </form>
</section>
{% endif %}
{% endif %}
{% endblock %}
