{% extends "ink_n_mustard/full_page.html" %}
{% block title %}{{ action_name }} :: {{ g.site_name }}{% endblock %}
{% block page_title %}{{ action_name }}{% endblock %}
{% block page_body %}
{% if error %}
<p class="error">{{ error }}</p>
{% endif %}
<form action="{{ action_url }}" method="post">
    <p><label for="username">Username</label>
    <input type="text" name="username" value="{{ preset_username }}" /></p>
    <p><label for="password">Password</label>
    <input type="password" name="password" /></p>
    <p><label for="remember_me">Keep me logged in</label>
    <input type="checkbox" name="remember_me" /></p>
    <input type="hidden" name="return_to" value="{{ return_to }}" />
    <p><label for="submit"></label>
    <button type="submit" name="submit">{{ action_name }}</button></p>
</form>
{% endblock %}
