* {
    margin: 0;
    padding: 0;
}

header, footer, nav, aside, article {
    display: block;
}

body {
    margin: 0 auto;
    width: 900px;
    font: 13px/150% Cantarell, Helvetica, Arial, sans-serif;
    background: #1f1f1f;
    color: #e0e0e0;
    overflow-y: scroll;
}

footer, aside, body>nav {
    background: #0f0f0f;
}

body > nav {
    position: absolute;
    left: 0;
    width: 100%;
}

nav > ul {
    margin: 0 auto;
    width: 900px;
    list-style: none;
}

nav ul li {
    float: left;
    display: inline;
}

nav ul ul.nav_right {
    float: right;
}

nav ul ul.nav_right li a {
    padding: 42px 0 0 0 !important;
    width: 42px;
    height: 0px !important;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
}
nav ul ul.nav_right li.rss a {
    background-image: url("/static/feed-icon.png");
}
nav ul ul.nav_right li.rss a:hover {
    background-image: url("/static/feed-icon_invert.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
nav ul ul.nav_right li.config a {
    background-image: url("/static/config-icon.png");
}
nav ul ul.nav_right li.config a:hover {
    background-image: url("/static/config-icon_invert.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

nav ul li a:link, nav ul li a:visited {
    display: block;
    padding: 8px 14px;
    font-size: 15px;
    font-weight: bold;
    line-height: 175%;
}
    nav ul li a:link:hover, nav ul li a:visited:hover, nav ul li a:active {
        background: #f0b000;
        color: #0f0f0f;
    }

#content {
    margin-top: 62px;
    display: table;
}
    #posts, #page_wrapper {
        display: table-cell;
        width: 610px;
        padding-right: 20px;
    }

    aside {
        display: table-cell;
        width: 270px;
        padding: 8px 20px 5px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }

article.post, article.page {
    background: #2f2f2f;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 3px 20px 10px;
}
article.post:not(:first-child), #posts nav {
    margin-top: 18px;
}
    article.post header p, article.page header p {
       font-size: 11px; 
       color: #808080;
       line-height: 100%;
       padding: 0 0 12px;
    }

#comments {
    padding-top: 5px;
}
article.comment header p {
    color: #a0a0a0;
}
article.comment {
    background: #3c3c3c;
    padding: 5px;
    margin-bottom: 6px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
article.comment:nth-of-type(odd) {
    background: #3c3c3c;
}
article.comment:nth-of-type(even) {
    background: #4a4a4a;
}

#posts nav {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 0px 20px 10px;
    position: relative;
}
    #posts nav .nav_older {
        position: absolute;
        right: 20px;
    }
    #posts nav .nav_newer {
        position: absolute;
        left: 20px;
    }

footer {
    margin: 20px 0 18px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 6px 20px;
}
    footer p {
        text-align: center;
        padding-bottom: 0px;
    }

a:link, a:visited {
    color: #f0b000;
    text-decoration: none;
}

a:link:hover, a:visited:hover, a:active {
    color: #a06000;
}

h1 {
    font-size: 36px;
    line-height: 100%;
    padding-top: 22px;
    padding-bottom: 25px;
}

h2 {
    margin: 0;
    font-size: 28px;
    line-height: 100%;
    padding-top: 18px;
    padding-bottom: 10px;
}

h3 {
    font-size: 18px;
    line-height: 100%;
    padding-top: 14px;
    padding-bottom: 8px;
}

ul, ol {
    list-style-position: inside;
}

p, img {
    padding-bottom: 9px;
}

code, pre {
    padding-bottom: 5px;
    font: 12px/150% Inconsolata, monospace;
}

blockquote, q {
    padding-left: 8px;
    border-left: 5px solid #3f3f3f;
    margin-bottom: 4px;
}
blockquote p, q {
    padding: 2px 0 4px;
}
blockquote, q {
    color: #909090;
}
blockquote blockquote, q q {
    color: #606060;
}
blockquote blockquote blockquote, q q q {
    color: #505050;
}

img, object {
    max-width: 100%;
    box-shadow: 3px 3px 7px #1f1f1f;
}

a img {
    border-size: 0px;
}

a img:hover {
    box-shadow: 1px 1px 7px #1f1f1f;
}

form {
    width: 100%;
    display: table;
    padding-top: 5px;
    padding-bottom: 9px;
}

form > p {
    width: 75%;
    padding: 2px 0;
    display: table-row;
}

form label {
    display: table-cell;
    text-align: right;
    vertical-align: top;
    padding: 0 7px 0 0;
    width: 15%;
}

input, textarea, button {
    min-width: 100%;
    width: 100%;
    display: table-cell;
    border: 0px;
    margin-top: 2px;
}

button, a.pseudo_button {
    text-align: center;
    margin-top: 6px;
    padding: 4px;
    background: #1f1f1f;
    color: #f0b000;
    border: 0px;
    font: 13px/150% Cantarell, Helvetica, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
    button:hover {
        background: #f0b000;
        color: #0f0f0f;
    }

textarea {
    min-height: 130px;
}

form.semifill
{
    width: 50%;
}

input.submit {
    margin: 6px 0 2px;
}

p.left {
    text-align: left;
}
p.center {
    text-align: center;
}
p.right {
    text-align: right;
}

p.error {
    color: #e05000;
    font-weight: bold;
}
