<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{{ g.site_name }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="ink_n_mustard.css") }}" media="screen" />
        {% if g.has_pygments %}
        <link rel="stylesheet" href="{{ url_for("static", filename="pygments.css") }}" media="screen" />
        {% endif %}
        <link href='https://fonts.googleapis.com/css?family=Maven+Pro:regular,bold&v1' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,bold,bolditalic&v1' rel='stylesheet' type='text/css'>
        <link rel="alternate" type="application/rss+xml" title="{{ g.site_name }}" href="{{ url_for("rss_posts") }}" />
        <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}" />
        <meta charset="UTF-8">
        <script type="text/javascript">
            window.onload = function() {
                setTimeout(function() {
                        // preload images
                        new Image().src = "/static/feed-icon_invert.png";
                        new Image().src = "/static/config-icon_invert.png";
                        });
            }
        </script>
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>{{ g.site_name }}</h1>
        </header>
        <nav>
            <ul>
            {% for item in g.nav %}
                <li><a href="{{item.href}}">{{item.text}}</a></li>
            {% endfor %}
                <ul class="nav_right">
                    {% if g.user_is_admin %}
                    <li class="config"><a href="/config">Admin</a></li>
                    {% elif g.logged_in %}
                    <li class="config"><a href="/config">Preferences</a></li>
                    {% endif %}
                    <li class="rss"><a href="{{ url_for("rss_posts") }}">RSS feed</a></li>
                </ul>
            </ul>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <aside class="flash_message below_navbar">
            {{ g.md.convert(messages[0])|safe }}
        </aside>
        {% for message in messages[1:] %}
        <aside class="flash_message">
            {{ g.md.convert(message)|safe }}
        </aside>
        {% endfor %}
        <div id="content">
        {% else %}
        <div id="content" class="below_navbar">
        {% endif %}
        {% endwith %}
            {% block content_body %}
            {% endblock %}
            {% block sidebar %}
            <aside id="sidebar">
            {% for section in g.sidebar_sections %}
                <section id="{{ section.title }}">
                    <header>
                        <h3>{{ section.title }}</h3>
                    </header>
                    <ul class="links">
                    {% for item in section.links %}
                        <li><a href="{{item.href}}">{{item.text}}</a></li>
                    {% endfor %}
                    </ul>
                </section>
            {% endfor %}
            </aside>
            {% endblock %}
            {% block topbar %}
            <aside id="topbar">
                <p>
                {% if g.logged_in %}
                    logged in as <a href="{{ url_for("show_user", username=g.username) }}">{{g.username}}</a> (<a href="{{ url_for("logout", return_to=g.current_url) }}">logout</a>)
                {% else %}
                    <a href="{{ url_for("login", return_to=g.current_url) }}">login</a> | <a href="{{ url_for("new_user", return_to=g.current_url) }}">register</a>
                {% endif %}
                </p>
            </aside>
            {% endblock %}
        </div>
        <footer>
            {% block footer %}
            <p>This blog is powered by <a href="https://gitorious.org/squidink">SquidInk</a>. All content is available under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA</a> license unless otherwise stated.</p>
            {% endblock %}
        </footer>
    </body>
</html>
