<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{{ g.site_name }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="ink_n_mustard.css") }}" media="screen" />
        {% if g.has_pygments %}
        <link rel="stylesheet" href="{{ url_for("static", filename="pygments.css") }}" media="screen" />
        {% endif %}
        <link href='https://fonts.googleapis.com/css?family=Maven+Pro:regular,bold&v1' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,bold,bolditalic&v1' rel='stylesheet' type='text/css'>
        <link rel="alternate" type="application/rss+xml" title="{{ g.site_name }}" href="{{ url_for("rss_posts") }}" />
        <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}" />
        <meta charset="UTF-8">
        {% if g.sn_username %}
        <script type="text/javascript">
            function populateSNSidebar(notices) {
                var notLoadedMessage = document.getElementById("snNotLoaded")
                var noticeList = document.createElement("ul")
                notLoadedMessage.parentNode.replaceChild(noticeList, notLoadedMessage)
                for (var i = 0 ; i < notices.length ; i++) {
                    var notice_id = notices[i].id
                    var notice_body = notices[i].statusnet_html
                    var notice_timestamp = new Date(notices[i].created_at).getTime()
                    var notice_timediffSeconds = Math.round((new Date().getTime() - notice_timestamp) / 1000)
                    if (notice_timediffSeconds == 1) {
                        var notice_age = "1 second ago"
                    } else if (notice_timediffSeconds < 60) {
                        var notice_age = notice_timediffSeconds + " seconds ago"
                    } else if (notice_timediffSeconds < 1.5*60) {
                        var notice_age = "1 minute ago"
                    } else if (notice_timediffSeconds < 60*60) {
                        var notice_age = Math.round(notice_timediffSeconds / 60) + " minutes ago"
                    } else if (notice_timediffSeconds < 1.5*60*60) {
                        var notice_age = "1 hour ago"
                    } else if (notice_timediffSeconds < 24*60*60) {
                        var notice_age = Math.round(notice_timediffSeconds / (60*60)) + " hours ago"
                    } else if (notice_timediffSeconds < 1.5*24*60*60) {
                        var notice_age = "1 day ago"
                    } else {
                        var notice_age = Math.round(notice_timediffSeconds / (24*60*60)) + " days ago"
                    }

                    var noticeListItem = document.createElement("li")
                    noticeListItem.innerHTML = notice_body + " (<a href=\"http://{{g.sn_domain|safe}}/notice/" + notice_id + "\">" + notice_age + "</a>)"
                    noticeList.appendChild(noticeListItem)
                }
            }
        </script>
        {% endif %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>{{ g.site_name }}</h1>
        </header>
        <nav>
            <ul>
            {% for item in g.nav %}
                <li><a href="{{item.href}}">{{item.text}}</a></li>
            {% endfor %}
                <ul class="nav_right">
                    {% if g.user_is_admin %}
                    <li class="config"><a href="/config">Admin</a></li>
                    {% elif g.logged_in %}
                    <li class="config"><a href="/config">Preferences</a></li>
                    {% endif %}
                    <li class="rss"><a href="{{ url_for("rss_posts") }}">RSS feed</a></li>
                </ul>
            </ul>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <aside class="flash_message below_navbar">
            {{ g.md.convert(messages[0])|safe }}
        </aside>
        {% for message in messages[1:] %}
        <aside class="flash_message">
            {{ g.md.convert(message)|safe }}
        </aside>
        {% endfor %}
        <div id="content">
        {% else %}
        <div id="content" class="below_navbar">
        {% endif %}
        {% endwith %}
            {% block content_body %}
            {% endblock %}
            {% block sidebar %}
            <aside id="sidebar">
            {% for section in g.sidebar_sections %}
                <section id="{{ section.title }}">
                    <header>
                        <h3>{{ section.title }}</h3>
                    </header>
                    <ul class="links">
                    {% for item in section.links %}
                        <li><a href="{{item.href}}">{{item.text}}</a></li>
                    {% endfor %}
                    </ul>
                </section>
            {% endfor %}
                {% if g.sn_username %}
                <section id="statusnetLatest">
                    <header>
                        <h3>Latest {{g.sn_domain}} posts</h3>
                    </header>
                    <p id="snNotLoaded">Not loaded yet. If you have javascript disabled, you will have to enable it (or make an exception, if using NoScript or similar) if you want to see this.</p>
                </section>
                <script type="text/javascript" src="http://identi.ca/api/statuses/user_timeline/{{g.sn_username}}.json?callback=populateSNSidebar&count=5"></script>
                {% endif %}
            </aside>
            {% endblock %}
            {% block topbar %}
            <aside id="topbar">
                <p>
                {% if g.logged_in %}
                    logged in as <a href="{{ url_for("show_user", username=g.username) }}">{{g.username}}</a> (<a href="{{ url_for("logout", return_to=g.current_url) }}">logout</a>)
                {% else %}
                    <a href="{{ url_for("login", return_to=g.current_url) }}">login</a> | <a href="{{ url_for("new_user", return_to=g.current_url) }}">register</a>
                {% endif %}
                </p>
            </aside>
            {% endblock %}
        </div>
        <footer>
            {% block footer %}
            <p>This blog is powered by <a href="https://gitorious.org/squidink">SquidInk</a>. All content is available under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA</a> license unless otherwise stated.</p>
            {% endblock %}
        </footer>
        <div id="preload-images">
            <img src="/static/feed-icon.png" width="1" height="1" />
            <img src="/static/feed-icon_invert.png" width="1" height="1" />
            <img src="/static/config-icon.png" width="1" height="1" />
            <img src="/static/config-icon_invert.png" width="1" height="1" />
        </div>
    </body>
</html>
