{% extends "base.html" %}
{% block title %}{% if title == "" %}{{ g.site_name }}{% else %}{{ title }} :: {{ g.site_name }}{% endif %}{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for("static", filename="ink_n_mustard_full_page.css") }}" media="screen" />
{% endblock %}
{% block content_body %}
<section id="page_wrapper">
    <article class="page">
        <header>
            <h2>{% block page_title %}{{ page.title }}{% endblock %}</h2>
        </header>
        {% block page_body %}
        {{ page.body|safe }}
        {% endblock %}
    </article>
</section>
{% endblock %}
{% block sidebar %}
{% endblock %}
