{% extends "full_page.html" %}
{% block title %}{{ action_name }} :: {{ site_name }}{% endblock %}
{% block page_title %}{{ action_name }}{% endblock %}
{% block page_body %}
{% if error %}
<p class="error">{{ error }}</p>
{% endif %}
<p class="right"><a target="_new" href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax reference</a></p>
<form action="{{ action_url }}" method="post">
    <p><label for="title">Title</label>
    <input type="text" name="title" value="{{ preset_title }}" /></p>
    {% if is_page %}
    <p><label for="title">Slug</label>
    <input type="text" name="slug" value="{{ preset_slug }}" /></p>
    <p><label for="body">Page content</label>
    {% else %}
    <p><label for="body">Post content</label>
    {% endif %}
    <textarea name="body">{{ preset_body }}</textarea></p>
    <p><label for="submit"></label>
    <input type="submit" value="{{ action_name }}" name="submit" /></p>
</form>
{% endblock %}
