{% extends "base.html" %}
{% block title %}{% if title == "" %}{{ g.site_name }}{% else %}{{ title }} :: {{ g.site_name }}{% endif %}{% endblock %}
{% block content_body %}
<section id="posts">
    {% if posts %}
    {% for post in posts %}
    <article class="post">
        <header>
            {% if multi_post %}
            <h2><a href="{{ url_for("show_post", post_id=post.id) }}">{{ post.title }}</a></h2>
            {% else %}
            <h2>{{ post.title }}</h2>
            {% endif %}
            <p>posted by <a href="{{ url_for("show_user", username=post.author) }}">{{ post.author }}</a> at <time datetime="{{ post.timestamp }}">{{ post.fancytime }}</time>
            {% if multi_post %}
            |
            <a href="{{ url_for("show_post", post_id=post.id) }}#comments">
            {% if post.num_comments == 0 %}
            no comments
            {% elif post.num_comments == 1 %}
            1 comment
            {% else %}
            {{ post.num_comments }} comments
            {% endif %}
            </a>
            {% endif %}
            {% if g.user_is_admin %}
            | <a href="{{ url_for("edit_post", post_id=post.id) }}">edit</a>
            | <a href="{{ url_for("delete_post", post_id=post.id) }}">delete</a>
            {% endif %}
            </p>
        </header>
        {{ post.body|safe }}
        {% if post.tags or post.nav_older or post.nav_newer %}
        <footer>
            {% if post.tags %}
            <section id="tags">
                <ul>
                tagged:
                    {% for tag in post.tags %}
                    <li><a href="{{ url_for("show_posts", tags=tag) }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
        </footer>
        {% endif %}
        {% if not multi_post %}
        {% if post.nav_newer or post.nav_older %}
        <nav>
            {% if post.nav_newer %}
            <a href="{{ url_for("show_post", post_id=post.nav_newer.id) }}" class="nav_newer">&larr; {{ post.nav_newer.title }}</a>
            {% endif %}
            &nbsp; <!-- need non-absolute element to get full size box -->
            {% if post.nav_older %}
            <a href="{{ url_for("show_post", post_id=post.nav_older.id) }}" class="nav_older">{{ post.nav_older.title }} &rarr;</a>
            {% endif %}
        </nav>
        {% endif %}
        <section id="comments">
            <header>
                <a id="comments"></a>
                <h3>Comments ({{ post.num_comments }})</h3>
            </header>
            {% if post.comments %}
            {% for comment in post.comments %}
            <article class="comment">
                <header>
                    <a id="comment-{{ comment.id }}"></a>
                    {% if comment.type == "statusnet" %}
                    <p><a href="{{ comment.author_url }}">{{ comment.author }}</a> said, at <time datetime="{{comment.timestamp}}">{{ comment.fancytime }}</time>
                    {% else %}
                    <p><a href="{{ url_for("show_user", username=comment.author) }}">{{ comment.author }}</a> said, at <time datetime="{{comment.timestamp}}">{{ comment.fancytime }}</time>
                    {% endif %}
                    {% if g.user_is_admin %}
                    | <a href="{{ url_for("delete_comment", post_id=post.id, comment_id=comment.id) }}">delete</a>
                    {% endif %}
                    | <a href="#comment-{{ comment.id }}">permalink</a>
                    {% if comment.type == "statusnet" %}
                    | <a href="{{ comment.notice_url }}">original</a>
                    {% endif %}
                    </p>
                </header>
                {{ comment.text|safe }}
            </article>
            {% endfor %}
            {% else %}
            <p>No comments yet.</p>
            {% endif %}
            {% if g.logged_in %}
            <a id="new-comment"></a>
            <h4>Post your own comment:</h4>
            {% if comment_error %}
            <p class="error">{{ comment_error }}</p>
            {% endif %}
            <form action="{{ url_for("post_comment", post_id=post.id) }}" method="post">
                <textarea name="comment">{{ preset_comment }}</textarea>
                <button type="submit" name="submit">Post comment</button>
            </form>
            {% else %}
            <p><em>To post a comment, you'll need to <a href="{{ url_for("new_user", return_to=g.current_url+"#new-comment") }}">get an account</a> or <a href="{{ url_for("login", return_to=g.current_url+"#new-comment") }}">login</a>.</em></p>
            {% endif %}
            {% if post.sn_notice_url %}
            <p><em>Alternatively, you can comment by replying to <a href="{{ post.sn_notice_url }}">this status.net notice</a>.</em></p>
            {% endif %}
        </section>
        {% endif %}
    </article>
    {% endfor %}
    {% if nav_newer or nav_older %}
    <nav>
        {% if nav_newer %}
        <a href="{{ nav_newer }}" class="nav_newer">&larr; Newer posts</a>
        {% endif %}
        &nbsp; <!-- need non-absolute element to get full size box -->
        {% if nav_older %}
        <a href="{{ nav_older }}" class="nav_older">Older posts &rarr;</a>
        {% endif %}
    </nav>
    {% endif %}
    {% else %}
    <p>No posts here.</p>
    {% endif %}
</section>
{% endblock %}
