{% extends "base.html" %}
{% block title %}{% if title == "" %}{{ site_name }}{% else %}{{ title }} :: {{ site_name }}{% endif %}{% endblock %}
{% block content_body %}
<section id="posts">
    {% for post in posts %}
    <article class="post">
        <header>
            {% if multi_post %}
            <h2><a href="{{ url_for("show_post", post_id=post.id) }}">{{ post.title }}</a></h2>
            {% else %}
            <h2>{{ post.title }}</h2>
            {% endif %}
            <p>posted by {{ post.author }} at {{ post.fancytime }}
            {% if user_is_admin %}
            | <a href="{{ url_for("edit_post", post_id=post.id) }}">edit</a>
            | <a href="{{ url_for("delete_post", post_id=post.id) }}">delete</a>
            {% endif %}
            </p>
        </header>
        {{ post.body|safe }}
    </article>
    {% endfor %}
    {% if nav_newer or nav_older %}
    <nav>
        {% if nav_newer %}
        <a href="{{ nav_newer }}" class="nav_newer">&larr; Newer posts</a>
        {% endif %}
        &nbsp; <!-- need non-absolute element to get full size box -->
        {% if nav_older %}
        <a href="{{ nav_older }}" class="nav_older">Older posts &rarr;</a>
        {% endif %}
    </nav>
    {% endif %}
</section>
{% endblock %}
